.avatar {
  width: 45px;
  height: 45px;
  border: 2px solid var(--clr-accent-400);
  border-radius: 50%;
  background: var(--clr-background-700);

  &--small {
    width: 40px;
    height: 40px;
  }

  &--big {
    width: 55px;
    height: 55px;
  }

  &:focus,
  &:hover {
    box-shadow: inset 0px 0px 8px 5px rgba(black, 0.2);
  }

  &:focus {
    outline: auto;
  }
}
