.button {
  padding: 0.3em;

  background: none;
  border: none;
  border-radius: 24px;
  color: var(--clr-font-light);

  &--login {
    background: var(--clr-background-700);
    width: 50%;
    margin-left: 25%;
  }
}
