.button {
  padding: 0.3em;

  background: none;
  border: none;
  border-radius: 24px;
  color: var(--clr-font-light);

  &--login {
    background: var(--clr-background-700);
    width: 50%;
    margin-left: 25%;
  }
}

.button--circle {
  display: flex;
  padding: 0;
  background: none;
  border: none;
  border-radius: 50%;

  font-size: var(--fs-800);
  color: var(--clr-font-light);

  &:hover {
    color: var(--clr-font-light-muted);
  }

  &:focus {
    outline: auto;
  }

  &--back {
    margin-left: 5px;
  }
}
