.button {
  position: relative;
  padding: 0.5em;

  min-height: 40px;

  border: none;
  border-radius: 24px;
  color: var(--clr-font-light);
  letter-spacing: 0.04em;
  transition: background-color 150ms ease-in;

  &:hover {
    cursor: pointer;
  }

  &--submit {
    background: var(--clr-background-700);

    &:hover {
      background: var(--clr-background-500);
    }
  }

  &--info {
    background: var(--clr-info-dark);

    &:hover {
      background: var(--clr-info-normal);
    }
  }

  &--success {
    background: var(--clr-success-dark);
    &:hover {
      background: var(--clr-success-normal);
    }
  }

  &--error {
    background: var(--clr-error-dark);
    &:hover {
      background: var(--clr-error-normal);
    }
  }

  &--warning {
    background: var(--clr-warning-dark);
    &:hover {
      background: var(--clr-warning-normal);
    }
  }

  &--action {
    background: var(--clr-background-700);

    &:hover {
      background: var(--clr-background-500);
    }
  }

  &--long {
    width: 100%;
  }

  &--normal {
    width: 50%;
  }

  &--short {
    width: 33%;
  }

  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  &--menu {
    background: none;
    font-size: var(--fs-500);
    text-align: left;

    & svg {
      font-size: var(--fs-600);
      margin-right: 10px;
    }
  }

  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0;

    &::after {
      content: "";
      position: absolute;

      width: 1.4rem;
      height: 1.4rem;

      border: 3px solid var(--clr-background-700);
      border-top: 3px solid var(--clr-accent-500);
      border-radius: 50%;

      animation: spin 1s ease-in-out infinite;
    }
  }
}

.button--circle {
  display: flex;
  padding: 0;
  background: none;
  border: none;
  border-radius: 50%;

  font-size: var(--fs-800);
  color: var(--clr-font-light);

  &:hover {
    color: var(--clr-font-light-muted);
    cursor: pointer;
  }

  &:focus {
    outline: auto;
  }

  &--back {
    margin-left: 5px;
  }
}
