@use "../layouts/app" as *;

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: $navbar_height;
  min-height: $navbar_height_max;
  padding: 0.5em;

  background: var(--clr-background-dark);
  border-bottom: 1px solid var(--clr-neutral-200);

  &__header {
    width: 100%;
    font-size: var(--fs-600);
  }

  &__avatar {
    min-width: 55px;
  }
}
