.post {
  display: flex;
  flex-direction: row;

  width: 100%;
  padding: 0.5em;

  border-bottom: 1px solid var(--clr-neutral-600);

  &__avatar {
    width: 48px;
  }

  &__body {
    width: calc(100% - 48px);
  }

  &__header {
    position: relative;
    grid-area: header;
    min-height: 20px;
    * + * {
      padding-left: 0.3em;
    }
  }

  &__name {
    font-size: var(--fs-400);
    color: var(--clr-font-light);
    text-decoration: none;
  }

  &__tag {
    font-size: var(--fs-300);
    color: var(--clr-font-light-muted);
    text-decoration: none;
  }

  &__date {
    font-size: var(--fs-300);
    color: var(--clr-font-light-muted);
    text-decoration: none;

    &::before {
      content: "•  ";
    }
  }

  &__more {
    position: absolute;
    top: 0;
    right: 0;
    font-size: var(--fs-500);

    display: flex;

    border-radius: 50%;

    &:hover {
      color: var(--clr-font-light-muted);
    }

    &:focus {
      outline: auto;
    }
  }

  &__content {
    hyphens: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}
