.post {
  display: grid;
  grid-template-columns: 1fr 100fr;
  grid-template-areas:
    "avatar header"
    "avatar body"
    "avatar body";

  width: 100%;
  padding: 0.5em;

  border-bottom: 1px solid var(--clr-neutral-600);

  &__avatar {
    grid-area: avatar;
    margin-right: 10px;
  }

  &__header {
    position: relative;
    grid-area: header;
    min-height: 20px;
    span + span {
      margin-left: 0.33em;
    }
  }

  &__name {
    font-size: var(--fs-400);
  }

  &__tag {
    margin-right: 4px;
    font-size: var(--fs-300);
    color: var(--clr-font-light-muted);
  }

  &__date {
    text-decoration: none;
    font-size: var(--fs-300);
    color: var(--clr-font-light-muted);

    &::before {
      content: "•  ";
    }
  }

  &__more {
    position: absolute;
    top: 0;
    right: 0;
    font-size: var(--fs-500);

    display: flex;

    border-radius: 50%;

    &:hover {
      color: var(--clr-font-light-muted);
    }

    &:focus {
      outline: auto;
    }
  }

  &__body {
    grid-area: body;
  }

  &__content {
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}
