$colors: (
  neutral: (
    200: hsl(0, 0%, 80%),
    300: hsl(0, 0%, 70%),
    400: hsl(0, 0%, 60%),
    500: hsl(0, 0%, 50%),
    600: hsl(0, 0%, 40%),
    700: hsl(0, 0%, 30%),
    800: hsl(0, 0%, 20%),
  ),
  primary: (
    200: hsl(351, 100%, 80%),
    300: hsl(351, 100%, 70%),
    400: hsl(351, 100%, 60%),
    500: hsl(351, 100%, 50%),
    600: hsl(351, 100%, 40%),
    700: hsl(351, 100%, 30%),
    800: hsl(351, 100%, 20%),
  ),
  secondary: (),
  accent: (
    200: hsl(39, 100%, 80%),
    300: hsl(39, 100%, 70%),
    400: hsl(39, 100%, 60%),
    500: hsl(39, 100%, 50%),
    600: hsl(39, 100%, 40%),
    700: hsl(39, 100%, 30%),
    800: hsl(39, 100%, 20%),
  ),
  background: (
    200: hsl(212, 61%, 80%),
    300: hsl(212, 61%, 70%),
    400: hsl(212, 61%, 60%),
    500: hsl(212, 61%, 50%),
    600: hsl(212, 61%, 40%),
    700: hsl(212, 61%, 30%),
    800: hsl(212, 61%, 20%),
    dark: hsl(212, 61%, 10%),
  ),
  font: (
    light: hsl(0, 0%, 96%),
    light-muted: hsl(0, 0%, 66%),
    dark: hsl(0, 0%, 26%),
    dark-muted: hsl(0, 0%, 46%),
  ),
  error: (
    light: hsl(0, 100%, 75%),
    normal: hsl(0, 100%, 60%),
    dark: hsl(0, 100%, 38%),
  ),
  success: (
    light: hsl(116, 46%, 67%),
    normal: hsl(116, 46%, 49%),
    dark: hsl(116, 46%, 31%),
  ),
  warning: (
    light: hsl(48, 100%, 72%),
    normal: hsl(48, 100%, 50%),
    dark: hsl(48, 100%, 40%),
  ),
  info: (
    light: hsl(188, 78%, 65%),
    normal: hsl(188, 78%, 41%),
    dark: hsl(188, 78%, 25%),
  ),
);
