$type-size: (
  phone: (
    200: "0.5rem",
    300: "0.8435rem",
    400: "1rem",
    500: "1.25rem",
    600: "1.5rem",
    700: "1.75rem",
    800: "2rem",
  ),
  tablet_landscape: (
    200: "2rem",
    300: "2rem",
    400: "2rem",
    500: "2rem",
    600: "2rem",
    700: "2rem",
    800: "2rem",
  ),
  desktop: (
    200: "3rem",
    300: "3rem",
    400: "3rem",
    500: "3rem",
    600: "3rem",
    700: "3rem",
    800: "3rem",
  ),
  desktop_big: (
    200: "4rem",
    300: "4rem",
    400: "4rem",
    500: "4rem",
    600: "4rem",
    700: "4rem",
    800: "4rem",
  ),
);
